<h1>Current Students</h1>

<br>

<h2>Click on a student's name to see what they have checked out.</h2>

<br>

<ul>
<% Student.all.each do |student| %>
  <li><a href="/students/<%= student.slug %>"><%= student.name %></a></li>
  <br>
<% end %>
</ul>
