<h1>Classroom Library</h1>
<h2>Which book would you like to view?</h2>

  <ul>
  <% Book.all.each do |book| %>
  <li><a href="/books/<%= book.id %>"><%= book.name %></a></li>
  <% end %>
  </ul>

  <h4>
    Click <a href="../students">here</a> if you would like to see a list of your students instead.
  </h4>