<h1>Enter a new Book</h1>

<br>

<form method="post" action="/books">

  <div class="row">
    <div class="col-md-1">
      <label for="name">Title:</label>
    </div>
    <div class="col-md-6">
      <input type="text" name="name" id="name">
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-1">
     <label for="author">Author:</label>
    </div>
    <div class="col-md-6">
      <input type="text" name="author" id="author">
    </div>
  </div>
 
  <div class="row">
    <div class="col-md-1">
      <label for="genre">Genre:</label>
    </div>
    <div class="col-md-6">
      <input type="text" name="genre" id="genre">
    </div>
  </div>

  <input type="submit" value="Create">

 </form>