<h1><%= @book.name %></h1>

<br>

<h2>Author: <%= @book.author %></h2>

<br>

<h2>Genre: <%= @book.genre %></h2>

<br>

<% if @book.loans.empty? %>
  <h2 id="available">Status: Available</h2>
<% else %>
  <h2 id="checked_out">Status: Checked Out</h2>
<% end %>

<br>

<h2>Click <a href="/books/<%= @book.slug %>/edit">here</a> to edit this title.</h2>

<br>

<br>

<h2>Log Out</h2>
<h4>To end your session, click <a href="/logout">here</a>.</h4>

 <br>
 <br>

  <h4>Return to the <a href="/../welcome">home</a> page</h4>
