<h2>Current Books on Loan<h1>

<br>

<ul>
<% @loans.each do |book| %>
  <li><a href="/loans/<%= book.slug %>"><%= book.name %></a></li>
  <% end %>
  </ul>

  <br>

   <h4><a href="loans/new">Click here</a> to check out a new book.</h4>

<h2>Log Out</h2>
<h4>To end your session, click <a href="/logout">here</a>.</h4>

 <br>

   <p>Return to the <a href="/../welcome">home</a> page</p>


