<h1>Check Out</h1>

<br>

<h2>Click on the title that you would like to check out</h2>

<form method="post" action="/loans">

  <% @books.each do |book| %>

    <input type="radio" name="book_loan" value="<book.name %>" id="<%= book.id %>"><%= book.name %></input>

  <br>

  <% end %>

  <br>

   <h2>Who is checking this book out?</h2>

  <% @students.each do |student| %>

    <input type="radio" name="student_loan" value="<student.name %>" id="<%= student.id %>"><%= student.name %></input><br>

  <% end %>

  <br>

  <input type="submit" name="Check Out">

</form>