


<h4>Click the return button below to check the book back in.</h4>
<form method="post" action="/loans/<%= @book.slug %>/return">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" name="return" value="Return">
</form>