<h1><%= @book.name %> is currently checked out.</h1>

<br>

<p>To check in this book, click the button below.</p>

<form method="post" action="/loans/<%= @book.slug %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Check In">
</form>

<br>
<br>

<h2>Log Out</h2>
<h4>To end your session, click <a href="/logout">here</a>.</h4>

 <br>

<p>Return to the <a href="/../welcome">home</a> page</p>



