<h1>Welcome to Classroom Library!</h1>


<h2>Are you tired of losing all of the books in your classroom library?</h2>
<h3>This app provides you with a simple way to keep track of the books that you loan to students.</h3>

<h4>Log In or Sign Up to start</h4>

<h3><a href="/login">Log In</a></h3>
<h3><a href="/signup">Sign Up</a></h3>