<h1>Classroom Library</h1>
<h2>Books</h2>

 <h4>Click <a href="books/new">here</a> to add a new book to your collection.
 </h4>

<br>

<h4>View a <a href="/books">list</a> of your curent collection</h4>

<br>

<h2>Students</h2>

<h4><a href="/students/new">Add</a> a new student</h4>

<br>

<h4>Click <a href="/students">here</a> if you would like to see a list of your students instead.
</h4>

<br>

<h2>Loans</h2>

<h4>View a <a href="/loans">list</a> of current loans</h4>

<h4>
  Click <a href="/loans/new">here</a> to check out books to students.
</h4>

<br>

<h2>Log Out</h2>
<h4>To end your session, click <a href="/logout">here</a>.</h4>