<h1>Classroom Library</h1>
<h2>What would you like to do today?</h2>

 <h4>Click <a href="books/new">here</a> to add a new book to your collection.
 </h4>

<br>

<h4>Click <a href="/students">here</a> if you would like to see a list of your students instead.
</h4>

<br>

<h4>
  Click <a href="/loans">here</a> to check out books to students.
</h4>